{% extends 'baseaccount.html' %}
{% load static %}

{% block content %}
<div class= "text-center col-12">
<h2>Reset Password</h2>
<h3>Enter your new password</h3>
<form class="form" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>
</form>

</div>   

{% if messages %}
		{% for message in messages %}
			{% if message.tags == 'success'%}
				<div class="alert" style="background-color: green; color: white;">
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				{{message}}
				</div>
			{% elif message.tags == 'info'%}
				<div class="alert" style="background-color: rgb(209, 209, 95); color: black;">
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				{{message}}
				</div>
			{% elif message.tags == 'warning'%}
				<div class="alert" style="background-color: rgb(133, 28, 28); color: white;">
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				{{message}}
				</div>
			{% elif message.tags == 'error'%}
				<div class="alert" style="background-color: red; color: white;">
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				{{message}}
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}


<style>
	.alert {
	  opacity: 1;
	  transition: opacity 5.0s; /* 600ms to fade out */
	}
</style>
	
<script>
	// Get all elements with class="closebtn"
	var close = document.getElementsByClassName("closebtn");
	var i;
	
	// Loop through all close buttons
	for (i = 0; i < close.length; i++) {
	  // When someone clicks on a close button
	  close[i].onclick = function(){
	
		// Get the parent of <span class="closebtn"> (<div class="alert">)
		var div = this.parentElement;
	
		// Set the opacity of div to 0 (transparent)
		div.style.opacity = "0";
	
		// Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
		setTimeout(function(){ div.style.display = "none"; }, 5000);
	  }
	}
</script>
{% endblock content %}